Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.git
.gitignore
.linterstagedrc.json
jest.config.js
.husky
dist
.vscode
test
containers
bruno
scripts

conf/.env.keys
conf/*.env
!conf/.prod.secrets.env
!conf/.env
conf/.admin.jwt