# Optional. Should be consistent with docker-compose.yaml
# Folder where *unencrypted* channel data stored
DB_FOLDER=".db/main"

# Optional. Should be consistent with docker-compose.yaml
PORT=3000

# Viem-named EVM network (https://viem.sh/docs/chains/introduction) with deployed pryx contracts 
# Check src/core/config/app.config.ts:supportedChains for supported networks
NETWORK="optimismSepolia"

# Contract address
PRYX_CONTRACT="0xCcBDbc8FD068EDAfc8d49986396f419914264e3F"

# Contract address
TOKEN="0x4a40365615D278D5DE1976188EBB1120b1318210"